In [1]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
from sklearn.multioutput import MultiOutputRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import pickle
from PIL import Image
import os


%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
mode = "withElevation"
# withoutElevation
# withElevation

workingOn = "1dmin"
# 7dmax
# 1dmin

toBePredicted = ["1%", "5%", "10%", "15%", "20%", "25%", "30%", "35%", "40%", "45%", "50%", "55%", "60%", "65%", "70%", "75%", "80%", "85%", "90%", "95%", "99%"]

In [3]:
data = pd.read_excel(f"../data/Temp_{workingOn}.xlsx",sheet_name="merged")

In [4]:
data.head()

,Longitude,Latitude,Altitude,Category,99%,95%,90%,85%,80%,75%,...,45%,40%,35%,30%,25%,20%,15%,10%,5%,1%
0,68.28,23.64,0.359467,normal,8.196877,8.669056,9.259281,9.849506,10.439730,11.029955,...,14.571303,15.161528,15.751752,16.341977,16.932202,17.522426,18.112651,18.702876,19.293100,19.765280
1,68.28,23.76,2.359467,normal,3.560500,4.101396,4.777516,5.453635,6.129755,6.805874,...,10.862592,11.538711,12.214831,12.890951,13.567070,14.243190,14.919309,15.595429,16.271549,16.812444
2,68.28,23.88,2.359467,normal,-0.733948,-0.194963,0.478769,1.152500,1.826232,2.499964,...,6.542353,7.216085,7.889817,8.563548,9.237280,9.911012,10.584743,11.258475,11.932207,12.471192
3,68.40,23.76,2.359467,normal,3.222252,3.762894,4.438695,5.114497,5.790299,6.466101,...,10.520912,11.196714,11.872516,12.548318,13.224120,13.899922,14.575724,15.251526,15.927328,16.467969
4,68.40,23.88,2.359467,normal,-0.240652,0.279057,0.928693,1.578328,2.227964,2.877600,...,6.775414,7.425050,8.074685,8.724321,9.373957,10.023592,10.673228,11.322864,11.972500,12.492208

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121008 entries, 0 to 121007
Data columns (total 25 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Longitude  121008 non-null  float64
 1   Latitude   121008 non-null  float64
 2   Altitude   121008 non-null  float64
 3   Category   121008 non-null  object
 4   99%        121008 non-null  float64
 5   95%        121008 non-null  float64
 6   90%        121008 non-null  float64
 7   85%        121008 non-null  float64
 8   80%        121008 non-null  float64
 9   75%        121008 non-null  float64
 10  70%        121008 non-null  float64
 11  65%        121008 non-null  float64
 12  60%        121008 non-null  float64
 13  55%        121008 non-null  float64
 14  50%        121008 non-null  float64
 15  45%        121008 non-null  float64
 16  40%        121008 non-null  float64
 17  35%        121008 non-null  float64
 18  30%        121008 non-null  float64
 19  25%        121008 non-null  float64
 20  20%        121008 non-null  float64
 21  15%        121008 non-null  float64
 22  10%        121008 non-null  float64
 23  5%         121008 non-null  float64
 24  1%         121008 non-null  float64
dtypes: float64(24), object(1)
memory usage: 23.1+ MB

### Encoding Category values

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
encoder = OneHotEncoder()
encoded_categories = encoder.fit_transform(data[['Category']]).toarray()
encoded_df = pd.DataFrame(encoded_categories, columns=encoder.get_feature_names_out(['Category']))
data = data.drop('Category', axis=1).join(encoded_df)

In [8]:
data.head()

,Longitude,Latitude,Altitude,99%,95%,90%,85%,80%,75%,70%,...,15%,10%,5%,1%,Category_extreme,Category_generalized,Category_kernel,Category_logistic,Category_normal,Category_scale
0,68.28,23.64,0.359467,8.196877,8.669056,9.259281,9.849506,10.439730,11.029955,11.620180,...,18.112651,18.702876,19.293100,19.765280,0.0,0.0,0.0,0.0,1.0,0.0
1,68.28,23.76,2.359467,3.560500,4.101396,4.777516,5.453635,6.129755,6.805874,7.481994,...,14.919309,15.595429,16.271549,16.812444,0.0,0.0,0.0,0.0,1.0,0.0
2,68.28,23.88,2.359467,-0.733948,-0.194963,0.478769,1.152500,1.826232,2.499964,3.173695,...,10.584743,11.258475,11.932207,12.471192,0.0,0.0,0.0,0.0,1.0,0.0
3,68.40,23.76,2.359467,3.222252,3.762894,4.438695,5.114497,5.790299,6.466101,7.141903,...,14.575724,15.251526,15.927328,16.467969,0.0,0.0,0.0,0.0,1.0,0.0
4,68.40,23.88,2.359467,-0.240652,0.279057,0.928693,1.578328,2.227964,2.877600,3.527235,...,10.673228,11.322864,11.972500,12.492208,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121008 entries, 0 to 121007
Data columns (total 30 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Longitude             121008 non-null  float64
 1   Latitude              121008 non-null  float64
 2   Altitude              121008 non-null  float64
 3   99%                   121008 non-null  float64
 4   95%                   121008 non-null  float64
 5   90%                   121008 non-null  float64
 6   85%                   121008 non-null  float64
 7   80%                   121008 non-null  float64
 8   75%                   121008 non-null  float64
 9   70%                   121008 non-null  float64
 10  65%                   121008 non-null  float64
 11  60%                   121008 non-null  float64
 12  55%                   121008 non-null  float64
 13  50%                   121008 non-null  float64
 14  45%                   121008 non-null  float64
 15  40%                   121008 non-null  float64
 16  35%                   121008 non-null  float64
 17  30%                   121008 non-null  float64
 18  25%                   121008 non-null  float64
 19  20%                   121008 non-null  float64
 20  15%                   121008 non-null  float64
 21  10%                   121008 non-null  float64
 22  5%                    121008 non-null  float64
 23  1%                    121008 non-null  float64
 24  Category_extreme      121008 non-null  float64
 25  Category_generalized  121008 non-null  float64
 26  Category_kernel       121008 non-null  float64
 27  Category_logistic     121008 non-null  float64
 28  Category_normal       121008 non-null  float64
 29  Category_scale        121008 non-null  float64
dtypes: float64(30)
memory usage: 27.7 MB

# Global Model

In [10]:
X = None
if mode == "withoutElevation":
    X = data[['Longitude', 'Latitude']].join(encoded_df)
else:
    X = data[['Longitude', 'Latitude', 'Altitude']].join(encoded_df)
y = data[toBePredicted]

In [11]:
X.head()

,Longitude,Latitude,Category_extreme,Category_generalized,Category_kernel,Category_logistic,Category_normal,Category_scale
0,68.28,23.64,0.0,0.0,0.0,0.0,1.0,0.0
1,68.28,23.76,0.0,0.0,0.0,0.0,1.0,0.0
2,68.28,23.88,0.0,0.0,0.0,0.0,1.0,0.0
3,68.40,23.76,0.0,0.0,0.0,0.0,1.0,0.0
4,68.40,23.88,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
y.head()

,1%,5%,10%,15%,20%,25%,30%,35%,40%,45%,...,55%,60%,65%,70%,75%,80%,85%,90%,95%,99%
0,19.765280,19.293100,18.702876,18.112651,17.522426,16.932202,16.341977,15.751752,15.161528,14.571303,...,13.390854,12.800629,12.210404,11.620180,11.029955,10.439730,9.849506,9.259281,8.669056,8.196877
1,16.812444,16.271549,15.595429,14.919309,14.243190,13.567070,12.890951,12.214831,11.538711,10.862592,...,9.510353,8.834233,8.158113,7.481994,6.805874,6.129755,5.453635,4.777516,4.101396,3.560500
2,12.471192,11.932207,11.258475,10.584743,9.911012,9.237280,8.563548,7.889817,7.216085,6.542353,...,5.194890,4.521159,3.847427,3.173695,2.499964,1.826232,1.152500,0.478769,-0.194963,-0.733948
3,16.467969,15.927328,15.251526,14.575724,13.899922,13.224120,12.548318,11.872516,11.196714,10.520912,...,9.169309,8.493507,7.817705,7.141903,6.466101,5.790299,5.114497,4.438695,3.762894,3.222252
4,12.492208,11.972500,11.322864,10.673228,10.023592,9.373957,8.724321,8.074685,7.425050,6.775414,...,5.476142,4.826507,4.176871,3.527235,2.877600,2.227964,1.578328,0.928693,0.279057,-0.240652

In [13]:
xgb_regressor = xgb.XGBRegressor(objective='reg:squarederror', n_jobs=-1, random_state=42)
model = MultiOutputRegressor(xgb_regressor, n_jobs=-1)

# train and predict
model.fit(X, y)
y_pred = model.predict(X)
predicted_columns = [f'pred_at_{col}' for col in toBePredicted]
y_pred_df = pd.DataFrame(y_pred, columns=predicted_columns)

In [14]:
# Function to check if indexes are aligned
def check_indexes_aligned(*dfs):
    base_index = dfs[0].index
    return all(df.index.equals(base_index) for df in dfs)

# Check if indexes are aligned
indexes_aligned = check_indexes_aligned(X, y, y_pred_df)
print(f'Indexes aligned: {indexes_aligned}')

Indexes aligned: True

In [15]:
# If indexes are aligned, concatenate without resetting index
if indexes_aligned:
    output_data = pd.concat([X, y, y_pred_df], axis=1)
else:
    # If indexes are not aligned, reset index before concatenation
    output_data = pd.concat([X.reset_index(drop=True), y.reset_index(drop=True), y_pred_df.reset_index(drop=True)], axis=1)

output_data.head()

,Longitude,Latitude,Category_extreme,Category_generalized,Category_kernel,Category_logistic,Category_normal,Category_scale,1%,5%,...,pred_at_55%,pred_at_60%,pred_at_65%,pred_at_70%,pred_at_75%,pred_at_80%,pred_at_85%,pred_at_90%,pred_at_95%,pred_at_99%
0,68.28,23.64,0.0,0.0,0.0,0.0,1.0,0.0,19.765280,19.293100,...,13.075280,12.484787,11.166977,11.408040,10.377266,10.096069,8.939852,8.652860,8.256127,7.652143
1,68.28,23.76,0.0,0.0,0.0,0.0,1.0,0.0,16.812444,16.271549,...,9.251822,8.800683,8.141726,7.477490,6.867713,6.070218,5.261681,4.978560,4.143518,3.733348
2,68.28,23.88,0.0,0.0,0.0,0.0,1.0,0.0,12.471192,11.932207,...,5.248672,4.618641,4.590152,3.290300,2.612828,2.008039,1.235593,0.691994,0.123298,-0.653999
3,68.40,23.76,0.0,0.0,0.0,0.0,1.0,0.0,16.467969,15.927328,...,9.046461,8.317886,7.642373,7.031185,6.135761,5.719300,4.712776,4.317122,3.742187,3.162888
4,68.40,23.88,0.0,0.0,0.0,0.0,1.0,0.0,12.492208,11.972500,...,5.389029,4.819701,4.316946,3.667326,2.865278,2.197990,1.438569,1.043151,0.451485,-0.190739

In [16]:
output_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121008 entries, 0 to 121007
Data columns (total 50 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Longitude             121008 non-null  float64
 1   Latitude              121008 non-null  float64
 2   Category_extreme      121008 non-null  float64
 3   Category_generalized  121008 non-null  float64
 4   Category_kernel       121008 non-null  float64
 5   Category_logistic     121008 non-null  float64
 6   Category_normal       121008 non-null  float64
 7   Category_scale        121008 non-null  float64
 8   1%                    121008 non-null  float64
 9   5%                    121008 non-null  float64
 10  10%                   121008 non-null  float64
 11  15%                   121008 non-null  float64
 12  20%                   121008 non-null  float64
 13  25%                   121008 non-null  float64
 14  30%                   121008 non-null  float64
 15  35%                   121008 non-null  float64
 16  40%                   121008 non-null  float64
 17  45%                   121008 non-null  float64
 18  50%                   121008 non-null  float64
 19  55%                   121008 non-null  float64
 20  60%                   121008 non-null  float64
 21  65%                   121008 non-null  float64
 22  70%                   121008 non-null  float64
 23  75%                   121008 non-null  float64
 24  80%                   121008 non-null  float64
 25  85%                   121008 non-null  float64
 26  90%                   121008 non-null  float64
 27  95%                   121008 non-null  float64
 28  99%                   121008 non-null  float64
 29  pred_at_1%            121008 non-null  float32
 30  pred_at_5%            121008 non-null  float32
 31  pred_at_10%           121008 non-null  float32
 32  pred_at_15%           121008 non-null  float32
 33  pred_at_20%           121008 non-null  float32
 34  pred_at_25%           121008 non-null  float32
 35  pred_at_30%           121008 non-null  float32
 36  pred_at_35%           121008 non-null  float32
 37  pred_at_40%           121008 non-null  float32
 38  pred_at_45%           121008 non-null  float32
 39  pred_at_50%           121008 non-null  float32
 40  pred_at_55%           121008 non-null  float32
 41  pred_at_60%           121008 non-null  float32
 42  pred_at_65%           121008 non-null  float32
 43  pred_at_70%           121008 non-null  float32
 44  pred_at_75%           121008 non-null  float32
 45  pred_at_80%           121008 non-null  float32
 46  pred_at_85%           121008 non-null  float32
 47  pred_at_90%           121008 non-null  float32
 48  pred_at_95%           121008 non-null  float32
 49  pred_at_99%           121008 non-null  float32
dtypes: float32(21), float64(29)
memory usage: 36.5 MB

In [17]:
# Calculate statistics
mae = mean_absolute_error(y, y_pred)
mse = mean_squared_error(y, y_pred)
rmse = mse**0.5
r2 = r2_score(y, y_pred)

# Create a DataFrame for statistics
statistics_df = pd.DataFrame({
    'Metric': ['Mean Absolute Error', 'Mean Squared Error', 'Root Mean Squared Error', 'R^2 Score'],
    'Value': [mae, mse, rmse, r2]
})

In [18]:
statistics_df.head()

                    Metric     Value
0      Mean Absolute Error  0.715476
1       Mean Squared Error  1.008386
2  Root Mean Squared Error  1.004184
3                R^2 Score  0.991764

In [19]:
# Create normal_output_data
# Assuming 'Category_normal' column represents normal category
normal_condition = data['Category_normal'] == 1
normal_output_data = output_data[normal_condition.reset_index(drop=True)]

### Composite Value and Category

In [20]:
# Define columns for y and y_pred_df
y_columns = y.columns
y_pred_columns = y_pred_df.columns

# Define hot encoded category columns
encoded_category_columns = [col for col in output_data.columns if col.startswith('Category_')]

# Determine operation based on workingOn
operation = 'max' if workingOn == "7dmax" else 'min'

In [21]:
# Initialize dictionaries to store data
data_map_all = {}
data_map_normal_kernel = {}

# Iterate through each row in output_data
for index, row in output_data.iterrows():
    # Determine key based on mode
    if mode == "withElevation":
        key = (row['Latitude'], row['Longitude'], row['Altitude'])
    else:
        key = (row['Latitude'], row['Longitude'])
    
    # Initialize entries for the key if not already present
    if key not in data_map_all:
        data_map_all[key] = {
            'data': [],
            'composite_value_y': {},
            'composite_category_y': {},
            'composite_value_y_pred': {},
            'composite_category_y_pred': {}
        }
    
    # Always store data for all categories
    data_map_all[key]['data'].append(row)
    
    # Store data only for normal and kernel categories
    if row[encoded_category_columns].idxmax() in ['Category_normal', 'Category_kernel']:
        if key not in data_map_normal_kernel:
            data_map_normal_kernel[key] = {
                'data': [],
                'composite_value_y': {},
                'composite_category_y': {},
                'composite_value_y_pred': {},
                'composite_category_y_pred': {}
            }
        data_map_normal_kernel[key]['data'].append(row)

In [22]:
# Function to calculate composite values and categories
def calculate_composite(data_map, y_columns, y_pred_columns, operation):
    for key, values in data_map.items():
        if not values['data']:
            print(f"No data for key {key}, skipping...")
            continue
        
        # Convert list of rows into a DataFrame
        data_df = pd.DataFrame(values['data'])
        
        # Calculate composite values for y
        for col in y_columns:
            if operation == 'max':
                composite_value = data_df[col].max()
                idx = data_df[col].idxmax()
                composite_category = data_df.loc[idx, encoded_category_columns].idxmax()
            elif operation == 'min':
                composite_value = data_df[col].min()
                idx = data_df[col].idxmin()
                composite_category = data_df.loc[idx, encoded_category_columns].idxmin()
            
            values['composite_value_y'][col] = composite_value
            values['composite_category_y'][col] = composite_category
        
        # Calculate composite values for y_pred_df
        for percentile in y_pred_columns:
            if operation == 'max':
                composite_value = data_df[percentile].max()
                idx = data_df[percentile].idxmax()
                composite_category = data_df.loc[idx, encoded_category_columns].idxmax()
            elif operation == 'min':
                composite_value = data_df[percentile].min()
                idx = data_df[percentile].idxmin()
                composite_category = data_df.loc[idx, encoded_category_columns].idxmin()
            
            values['composite_value_y_pred'][percentile] = composite_value
            values['composite_category_y_pred'][percentile] = composite_category

In [23]:
calculate_composite(data_map_all, y_columns, y_pred_columns, operation)
calculate_composite(data_map_normal_kernel, y_columns, y_pred_columns, operation)

In [24]:
def create_composite_df(data_map, y_columns, y_pred_columns):
    # Create composite value DataFrame
    composite_value_df = pd.DataFrame({
        'Latitude': [key[0] for key in data_map.keys()],
        'Longitude': [key[1] for key in data_map.keys()],
        'Altitude': [key[2] if len(key) > 2 else None for key in data_map.keys()],
        **{col: [values['composite_value_y'].get(col, None) for values in data_map.values()] for col in y_columns},
        **{percentile: [values['composite_value_y_pred'].get(percentile, None) for values in data_map.values()] for percentile in y_pred_columns}
    })

    # Create composite category DataFrame
    composite_category_df = pd.DataFrame({
        'Latitude': [key[0] for key in data_map.keys()],
        'Longitude': [key[1] for key in data_map.keys()],
        'Altitude': [key[2] if len(key) > 2 else None for key in data_map.keys()],
        **{col: [values['composite_category_y'].get(col, None) for values in data_map.values()] for col in y_columns},
        **{percentile: [values['composite_category_y_pred'].get(percentile, None) for values in data_map.values()] for percentile in y_pred_columns}
    })
    
    return composite_value_df, composite_category_df

In [25]:
composite_value_all_df, composite_category_all_df = create_composite_df(data_map_all, y_columns, y_pred_columns)
composite_value_normal_kernel_df, composite_category_normal_kernel_df = create_composite_df(data_map_normal_kernel, y_columns, y_pred_columns)

In [26]:
# Specify the relative directory
relative_directory = f'../output/{mode}'
        
# Create the directory if it doesn't exist
os.makedirs(relative_directory, exist_ok=True)

with pd.ExcelWriter(f'../output/{mode}/{workingOn}.xlsx') as writer:
    output_data.to_excel(writer, sheet_name='General Prediction', index=False)
    normal_output_data.to_excel(writer, sheet_name='Normal Prediction', index=False)
    composite_value_all_df.to_excel(writer, sheet_name='composite_value_all_df', index=False)
    composite_category_all_df.to_excel(writer, sheet_name='composite_category_all_df', index=False)
    composite_value_normal_kernel_df.to_excel(writer, sheet_name='composite_value_normal_kernel_df', index=False)
    composite_category_normal_kernel_df.to_excel(writer, sheet_name='composite_category_normal_kernel_df', index=False)

print("Predicted data saved successfully.")

Predicted data saved successfully.