In [54]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [35]:
dataset = pd.read_csv(r"C:\Users\srija\Downloads\hoursData.csv")
dataset.head()

         entry  eventId  eventHours
0  2023BB10906     2407         NaN
1  2023CH10610     2407         6.0
2  2021CS10123     2407         7.0
3  2023PH10668     2407         6.0
4  2023BB10328     2407        12.0